body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #51574a;
}

h1 {
    display: inline;
}

#date {
    float: right;
}

#content {
    background-color: #e8e2ca;
    font-size: 1.7em;
    line-height: 1.5em;
    margin: auto;
    min-width: 500px;
    max-width: 800px;
    padding: 1em 2em 2em 2em;
    -moz-box-shadow: 0 0 40px #000;
    -webkit-box-shadow: 0 0 40px #000;
    box-shadow: 0 0 40px #000;
}

pre.code {
    background-color: #F9F9F9;
    border: 2px dashed #299FAB;
    color: black;
    line-height: 1.1em;
    padding: 1em;
}